<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title> Aplicação Dev Python </title>
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/curriculo.css">
</head>

<body>
    <header>
        <div class="container_header">
            <div class="container_banner">
                <img class="banner" src="../static/img/logo_usc.png" alt="Logo">
            </div>
            <div class="container_botoes">
                <a class="button-link"> HOME </a>
                <a class="button-link"> SERVIÇOS </a>
                <a class="button-link"> CONTATO </a>
                <a class="button-link"> CARLOS </a>
            </div>
        </div>
    </header>
    
    <main>
        <div class="conteiner_dados">
            <div id="imagem_cv">
                <img class="imagem_foto" src="../static/img/foto.jpg" alt="Foto">
            </div>
    
            <h2> Resumo </h2>
    
            <p id="resumo">teste,teste,teste,teste,teste,teste,teste,
                teste,teste,teste,teste,teste,teste,teste,teste,teste,
                teste,teste,teste,teste,teste,teste,teste,teste,teste,
                teste,teste,teste,teste,teste,teste,teste,teste,teste.
            </p>
    
            <h3> Habilidades </h3>
    
            <ul id="lista">
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
            </ul>
    
            <h3> Cursos </h3>
    
            <ul id="lista">
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
                <li id="linha_lista"> teste </li>
            </ul>
    
        </div> 
        <div class="conteiner_historico">
    
            <h1> Mestre Yoda </h1>
    
            <h2> Formação </h2>
    
            <h3> Escola padawan </h3>
            <h3> Academia Jedi </h3>
            <h3> Academia Superior </h3>
            <hr>
    
            <h2> Experiências </h2>
    
            <h3> Membro do conselho Jedi </h3>
            <p id="descricao">teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
            </p>
    
            <h3> Mestre Jedi </h3>
            <p id="descricao">teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
            </p>
    
            <h3> Cavaleiro Jedi </h3>
            <p id="descricao">teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
                , teste, teste, teste, teste, teste, teste, teste, teste, teste, teste, teste
            </p>
            <hr>
    
            <h2> Idiomas </h2>
            <h3> Teste </h3>
            <h3> Teste </h3>
        </div>
    </main>

    <footer>
        <img class="imagem_rodape" src="../static/img/logo_usc.png" alt="Logo">
        <p class="texto_copyrigth"> Copyright by Friday Python Aplication Class </p>
    </footer>

</html>