<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title> Aplicação Dev Python </title>
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/home.css">
</head>

<body>
    <header>
        <div class="container_header">
            <div class="container_banner">
                <img class="banner" src="../static/img/logo_usc.png" alt="Logo">
            </div>
            <div class="container_botoes">
                <a class="button-link"> HOME </a>
                <a class="button-link"> SERVIÇOS </a>
                <a class="button-link"> CONTATO </a>
                <a class="button-link"> CARLOS </a>
            </div>
        </div>
    </header>
    
    <main>
        <h1> Titulo Teste </h1>
    </main>

    <footer>
        <img class="imagem_rodape" src="../static/img/logo_usc.png" alt="Logo">
        <p class="texto_copyrigth"> Copyright by Friday Python Aplication Class </p>
    </footer>

</html>